always-auth=true
@workable:registry=https://us-east4-npm.pkg.dev/staging-artifacts-786a/npm-local/
@workablehr:registry=https://us-east4-npm.pkg.dev/staging-artifacts-786a/npm-local/
//us-east4-npm.pkg.dev/staging-artifacts-786a/npm-local/:always-auth=true
//us-east4-npm.pkg.dev/staging-artifacts-786a/npm-local/:username=${ARTIFACTORY_USERNAME}
//us-east4-npm.pkg.dev/staging-artifacts-786a/npm-local/:email=not.valid@email.com